<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
</head>

<body>

    <div class="container">
        <h2>Twitter API Searching</h2>
        <form action="getResults" class="form-inline" method="POST">

            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Search Twitter..</label>
                <input type="text" class="form-control" name="searching" placeholder="Search Twitter..">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button> Result Type:
            <select class="custom-select custom-select-lg mb-3" name="rType">
                    <option value="">Any</option>
                    <option value="popular">Popular</option>
                    <option value="recent">Recent</option>
                    <option value="mixed">Mixed</option>
                  </select> Language:
            <select class="custom-select custom-select-sm" name="language">
                    <option value="">Any</option>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="de">German</option>
                  </select>



        </form>
    </div>

</body>

</html>